
html,
body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100vw;
  height: 100vh;

  /* Center Container */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Coloring */
  background: #2ec1ac;
}

input,
button,
ul,
p {
  all: unset;
}

ul {
  list-style: none;
}

.container {
  width: 350px;
  height: 600px;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  background: white;

  flex-direction: column;
}

.pending {
  padding-left: 10px;
  flex: 1;
}

.toDoList {
  flex: 8;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.complete {
  padding-left: 10px;
  flex: 1;
}

.completeList {
  flex: 8;
  overflow-y: scroll;
  text-decoration: line-through;
}

.toDoForm {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  flex: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.li {
  display: flex;
  padding-left: 10px;
  flex-direction: row;
  align-items: center;
}

.text {
  flex: 13;
  word-break: break-all;
}

.delBtn {
  flex: 1;
  opacity: 0;
  height: 20px;
  vertical-align: center;
}

.li:hover .delBtn {
  opacity: 1;
}

input {
  text-align: center;
  border: 1px solid rgb(212, 211, 211);
  border-radius: 30px;
  width: 300px;
  height: 40px;
}

.inputBtn {
  background-color: #2ec1ac;
  text-align: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: white;
}