
html,
body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100vw;
  height: 100vh;

  /* Center Container */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Coloring */
  background: #2ec1ac;
}

input,
button,
ul,
p {
  all: unset;
}

.container {
  width: 350px;
  height: 600px;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  background: white;
}

.label {
  flex: 0 0 auto;
  padding: 0.7em 0.7em;
  margin: 0;
}

.list {
  flex: 1 1 0;
  list-style: none;
  overflow-y: scroll;
}

li {
  padding: 0.1em 1em;
}

.input_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  padding: 0.5em 0.5em;
  box-shadow: 0 -2px 2px #dadada;
}

#input_todo {
  flex: 1 0 auto;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 35px;
}

#input_todo::placeholder {
  color: lightgray;
  font-size: 14px;
}

#btn_add {
  width: 35px;
  height: 35px;
  line-height: 100%;
  flex: 0 0 auto;
  color: white;
  text-align: center;
  background-color: #2ec1ac;
  border-radius: 50%;
  margin-left: 0.5em;
}